<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <style>
        body {
            background: gray;
            }

    </style>
</head>
<body>

  <h1>Test </h1>


<form action="" method="POST">
    {% csrf_token %}
    <label for="project_name">Please, enter your folder name : </label>
    <input id="project_name" name="project_name" type="text" placeholder="name of your project">
    <hr>
    <button type="submit">Convert</button>
<!--    {% if message %}-->
        <h3>{{ message }}</h3>
<!--    {% endif %}-->
</form>
</body>
</html>